/* CSS DOCUMENT */
@charset "UTF-8";

:root {
    --rojo-unla: #91001F;
    --blanco: #F8F7F4;
    --violeta-depto: #571668;
}

/*configuraciones generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "adelle-sans", sans-serif;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.limit-width-container {
    width: 100%;
    max-width: 1400px;
    padding: 10px 0;
    display: flex;
    padding: 0 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
}

h3 {
    color: var(--violeta-depto);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 24px;
    letter-spacing: 0.03rem;
}

h2 {
    font-size: 3rem;
}

footer {
    height: 50px;
}

p {
    text-wrap-style: pretty;
    color: #7f7f7f;
}

button {
    border: 2px solid var(--violeta-depto);
    background-color: #faf6f6;
    color: var(--violeta-depto);
    height: 40px;
    width: 110px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: #b081bd;
    color: #faf6f6;
    border: 2px solid #b081bd;
}

button.activo {
    background-color: var(--violeta-depto);
    color: #faf6f6;
    font-weight: 600;
    pointer-events: none;
}

/*-------HEADER---------*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--blanco);

    .limit-width-container {
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 15px;
    }

    #buscador {
        width: 225px;
        height: 35px;
        border-radius: 55px;
        background-color: white;
    }

}

nav a,
.about nav a {
    padding: 8px 15px;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5a5a5a;
}



/*----------MAIN---------*/

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    min-height: 600px;
    justify-content: center;
    max-width: 750px;
    align-self: flex-start;
    gap: 25px;
}

#hero h3 {
    text-transform: uppercase;

    p {
        color: #929292;
    }
}

h1 {
    font-size: 4rem;
}

#revistas {
    flex-direction: column;
    align-items: flex-start;
}

/*-------ACERCA DE------*/

.textos-sobre-imagen,
.textos-sobre-imagen h3,
.hero-fondo p {
    color: #FFFFFF;
    letter-spacing: 0.03rem;
}

.hero-fondo {
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
    linear-gradient(0deg, rgba(145, 0, 118, 0.4) 0%, rgba(145, 0, 118, 0.57) 100%),
    url(img/argentinagrafica-197805-259.png) lightgray 50% / cover no-repeat;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.14), 0 6px 30px 0 rgba(0, 0, 0, 0.12), 0 8px 10px 0 rgba(0, 0, 0, 0.20);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about {
    margin-top: 104px;
    align-items: flex-start;
    gap: 100px;

    p {
        max-width: 750px;
    }


    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 300px;
        gap: 24px;
        margin: 55px 0px 55px 0px;
        position: sticky;
        top: 100px;
    }

    .limit-width-container {
        padding: 0px;
        max-width: 1100px;
        flex-direction: column;
        gap: 80px;
        align-items: flex-start;
    }

}

#importancia,
#miembros,
#docentes-inv,
#inv-graduados,
#ficha-tec,
#lab-diseno,
#unla {
    width: 100%;
    max-width: 984px;
}

#importancia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    p {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

#miembros,
#docentes-inv,
#ficha-tec,
#lab-diseno,
#unla {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    div {
        display: flex;
        gap: 24px;
        align-items: flex-start;
        padding-bottom: 50px;
    }

    p {
        line-height: 1.7rem;
        letter-spacing: 0.02rem;
    }

    h3 {
        font-size: 1rem;
        padding-bottom: 5px;
    }

    h4 {
        font-size: 34px;
        padding-bottom: 15px;
        font-weight: 500;
    }
}

#miembros,
#docentes-inv {
    p {
        max-width: 624px;
    }
}

#inv-graduados,
#ads-estudiantes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

    article {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    h2 {
        width: 100%
    }
}

#ficha-tec,
#lab-diseno,
#unla {
    p {
        max-width: 900px;
    }
}