.revistas aside {
  width: 30%;
  padding: 60px;
  box-sizing: border-box;
}

.revistas main {
  width: 70%;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.revistas #revistas-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}

.revistas .content {
  display: flex;
  align-items: flex-start;
}

.revistas p {
  margin-bottom: 10px;
}

.revistas h2 {
  margin-bottom: 10px;
}

.revista-infocard {
  width: 300px;
}

.revista-infocard img {
  max-width: 100%;
  margin-bottom: 20px;
}

#botones {
  display: flex;
  gap: 1rem;
  margin-bottom: 15px;
}

#botones button {
  border: 2px solid var(--violeta-depto);
  background-color: #faf6f6;
  color: var(--violeta-depto);
  height: 40px;
  width: 110px;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

#botones button:hover {
  background-color: #b081bd;
  color: #faf6f6;
  border: 2px solid #b081bd;
}

#botones button.activo {
  background-color: var(--violeta-depto);
  color: #faf6f6;
  font-weight: 600;
  pointer-events: none;
}

#revista-toggle {
  margin-bottom: 60px;
}
#revista-toggle button {
  border: none;
  display: inline;
  border-radius: 0;
  height: auto;
  width: auto;
  margin-right: 10px;
}

#revista-toggle button:hover,
#revista-toggle button.activo {
  background-color: #faf6f6;
  color: var(--violeta-depto);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .revistas .content {
    flex-direction: column;
  }
  .revistas aside {
    width: 100%;
  }
  .revistas main {
    width: 100%;
  }
}
